body{
   
    text-align: center;
background-color: #baf3f7;
  
   
    


   }
   
   p{
    margin-right: 20px;
   }
   .m{
       font-family: monospace;
       color: rgb(3, 175, 18);
       padding-bottom:10px ;
   }
   .g{
       font-family: monospace;
       color: rgb(145, 160, 13);
       padding-left: 80px;
   }
   .new{
    width:1600 x 1200px; 
   }
.transparent{
    position: absolute;
    margin-left: 90px;
    margin-bottom:20px ;
}
.transparentnew{
    position: absolute;
    margin-left: 20px;
    margin-bottom: 100px;

}
h1{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    margin-right: 80px;
    color: rgba(12, 160, 91, 0.959);

}
p{
    font-family: monospace;
font-size: x-large;
margin-right: 50px;
    color: rgb(39, 131, 119);

}

.size{
    font-size: xx-large;
}
.rose{
    color: rgb(201, 16, 124);
    font-size: 25px;
  
 



}
h3{
    color:rgb(231, 124, 153);
    font-size: x-large;
}



.skils-rows{
width: 50%;
margin:50px auto 50px auto;
text-align: left;


}
.image{
    width:25%;
    float: left;
    margin: 30px;
}
.float-to-right{
    width: 25%;
    float:right;
    padding:30px;
}

   

div{
    padding: 50px;
}



.roller{
    width:30%;
    margin: auto;
}

.Hello{
    margin-left: 60px;
    font-family: moonspace;
}
hr{
    border: dotted rgb(153, 181, 207) 6px;
    border-bottom: none;
    width: 4%;
}
.third-div{
    padding:50px;
}
.another-div{
    padding: 100px;
}
.btn{
   


	box-shadow: 3px 4px 0px 0px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#121413;
	font-family:Verdana;
	font-size:17px;
	font-style:italic;
	padding:4px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
