figure{
  display: block;
width: 202px;
height: 170px;
background-color: #e7e3d8;
padding: 9px;
text-align: left;
}
.entry {
  width: 220px;
  float: left;
  margin: 10px;
  height: 198px;
  background-image: url("images/shadow.png");
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 120px;
  margin-right: 10px;
}
  figure img {
    width: 200px;
    height: 150px;
    border: 1px solid #d6d6d6;}
    figcaption {
      background-image: url("images/icon.png");
      padding-left: 20px;
      background-repeat: no-repeat;}
      body {
        color: #665544;
        background-color: #d4d0c6;
        background-image: url("images/backdrop.gif");
        font-family: Georgia, "Times New Roman", serif;
        text-align: center;
      }