body{
    padding-top: 10px;
    padding-left: 40px;
}
.hhh{
    color: rgb(42, 42, 189);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hhhh{
    color: rgb(129, 129, 240);
    font-family: sans-serif;
}
span{
    color:rgb(131, 131, 253);
}
.hh{
    color: rgb(116, 116, 230);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*comments goes here 2 chapter*/









